"""[[ entity_name ]] ORM 模型 — 由 [[ author ]] 生成。"""

{% for line in model_import_lines %}[[ line ]]
{% endfor %}


class [[ entity_name ]]([[ base_classes ]]):
    """[[ entity_comment ]]。"""

    __tablename__ = "[[ table_name ]]"
{% for line in model_field_lines %}[[ line ]]
{% endfor %}
