/**
 * [[ entity_name ]] [[ business_name ]]类型定义
 */

import type { BaseQueryParams } from "@/api/common";

/** [[ business_name ]]查询参数 */
export interface [[ entity_name ]]QueryParams extends BaseQueryParams {
{% for c in query_columns %}  /** [[ c.field_comment ]] */
  [[ c.field_name ]]?: [[ c.ts_query_type ]];
{% endfor %}}

/** [[ business_name ]]表单对象 */
export interface [[ entity_name ]]Form {
  /** 主键 */
  id?: string;
{% for c in form_columns_config %}  /** [[ c.field_comment ]] */
  [[ c.field_name ]]?: [[ c.ts_type ]];
{% endfor %}}

/** [[ business_name ]]列表项 */
export interface [[ entity_name ]]Item {
  /** 主键 */
  id?: string;
{% for c in list_columns %}  /** [[ c.field_comment ]] */
  [[ c.field_name ]]?: [[ c.ts_type ]];
{% endfor %}}

/** [[ business_name ]]详情对象 */
export type [[ entity_name ]]Detail = [[ entity_name ]]Item & [[ entity_name ]]Form;
